@model webtintuc.Models.ContactModel
@{
    ViewData["Title"] = "Liên hệ với chúng tôi";
    Layout = "_ContactLayout.cshtml";
}
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Liên hệ</h1>

                                <h style="font-size: 19px"> Chúng tôi luôn lắng nghe ý kiến của bạn
                                </h>

                            </div>
                            <form asp-action="Create" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Name" class="form-control form-control-user"
                                        placeholder="Họ và tên" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-user"
                                        placeholder="Địa chỉ Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Title" class="form-control form-control-user"
                                        placeholder="Tiêu đề" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <textarea rows="5" asp-for="Content" class="form-control form-control-user"
                                        placeholder="Nhập nội dung(500 ký tự)"> </textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>
                                <input type="submit" value="Gửi" class="btn btn-primary btn-user btn-block" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
