@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<div class="alert alert-warning">
    Địa chỉ Email chưa được đăng ký trên hệ thống! <strong><a asp-action="ForgotPassword" class="text-decoration-none ">Nhập lại </a></strong>
  </div>
