@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Bạn đã đăng nhập thất bại quá 5 lần, tài khoản đã bị tạm khóa.
        Hãy thử lại sau 5 phút!
    </p>
</header>