@model webtintuc.Account.Models.LoginModel
@{

    ViewData["Title"] = "Đăng nhập";
}
<div class="row d-flex algin-item-center justify-content-center">
    <div class="col-md-4 card p-4">
        <h2 class="text-center text-info"> Đăng nhập </h2>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" /> @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="ForgotPassword" class="text-decoration-none float-start mt-2">Quên mật khẩu </a>
                </div>
                <div class="col-8">
                    <a asp-action="Register" class="text-decoration-none float-start mt-2">Đăng ký </a>
                </div>
                <div class="col-8">
                    <input type="submit" value="Đăng nhập" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}