<h4 style="padding-top:10px">Mạng xã hội</h4>
<div style="text-align:center">
    </style>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.youtube.com/">
                <div class="social-content">
                    <img src="https://baohaiphong.vn/files/ecm/source_files/2024/01/22/yt.svg">
                    <a style="text-decoration: none; color: black" class=" social-label">Youtube</a>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://www.facebook.com">
                <div class="social-content">
                    <img src="https://baohaiphong.vn/files/ecm/source_files/2024/01/22/fb.svg">
                    <a style="text-decoration: none; color: black" class="social-label">Facebook</a>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                <div class="social-content">
                    <img src="https://baohaiphong.vn/files/ecm/source_files/2024/01/22/zl.svg">
                    <a style="text-decoration: none; color: black" class="social-label">Zalo</a>
                </div>
            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                <div class="social-content">
                    <img src="https://baohaiphong.vn/files/ecm/source_files/2024/01/23/tt.svg">
                    <a style="text-decoration: none; color: black" class="social-label"> Tiktok</a>
                </div>
            </a>
        </li>

    </ul>
</div>