@model webtintuc.Models.NewsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <p><i>@Html.DisplayFor(model => model.Created)</i></p>
    <hr />
    @Html.DisplayFor(model => model.Content)
    <hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsID">Chỉnh sửa </a> |
    <a asp-action="Index">Quay lại danh sách bài viết</a>
</div>